$header-color: #222731;
$body-color: #4B6A9B;
$main-background-color: #F6F8FF;
$content-background-color: #FEFEFE;
$button-color: #0079FF;
$font-family: 'Space Mono', monospace;
$font-weight-bold: 700;
$font-weight: 400;