$header-color: #222731;
$body-color: #4B6A9B;
$bold-color: #2B3442;
$date-color: #697C9A;
$main-background-color: #F6F8FF;
$content-background-color: #FEFEFE;
$blue: #0079FF;


// Typography
$font-family: 'Space Mono', monospace;

$font-size: 1rem;
$font-size-small: 0.81rem;
$font-size-smallest: 0.69rem;

$font-regular: 1rem;
$font-small: 0.81rem;

$line-height-large: 1.56rem;
$line-height-small: 1.19rem;
$font-weight-bold: 700;
$font-weight: 400;
$font-style: normal;

$border-radius: 0.63rem;

// Media Query 
$tablet-width: 35.81rem; 
$browser-width: 45.63rem;