@use 'theme';

.userProfileContainer {
    color: theme.$body-color;
    background: theme.$content-background-color;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

    font-family: theme.$font-family;
    font-style: theme.$font-style;
    font-weight: theme.$font-weight;
    line-height: theme.$line-height-large;

    border-radius: theme.$border-radius;
    width: 20.44rem;
    height: 32.31rem;
    margin-top: 1rem;
}


// Header and Bio

.profileHeader {
    display: flex;
    justify-content: space-between;
    height: 4.38rem;
    width: 14.56rem;
    padding: 2rem 1.50rem;

}

.profilePicture {
    // width: 100%;
    // height: 100%;
    // width: 4.38rem;
    // height: 4.38rem;
    border-radius: 50%;
}

.headerContent {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
}

.userName, .login, .dateJoined {
    margin: 0;
    height: 100%;
    font-weight: theme.$font-weight;
    font-size: theme.$font-small;
}

.userName {
    color: theme.$bold-color;
    font-weight: theme.$font-weight-bold;
    font-size: theme.$font-size;
    line-height: 1.5rem;
}

.login {
    color: theme.$blue;
    line-height: theme.$line-height-small;
}

.dateJoined {
    color: theme.$date-color;
    line-height: theme.$line-height-small;
}

.bio {
    font-size: theme.$font-size-small;
    color: theme.$body-color;
    width: 17.44rem;
    height: 4.69rem;
    padding: 0rem 1.50rem;
}


// Github Stats

.gitHubInnerContainer, .gitHubStats, .social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gitHubOuterContainer {
    background: theme.$main-background-color;
    border-radius: theme.$border-radius;
    height: 5.31rem;
    width: 85%;
    margin: auto;
}

.gitHubInnerContainer {
    justify-content: space-between;
    height: 3rem;
    width: 15.63rem;
    margin: 1.13rem 0.88rem 1.19rem 0.94rem;
}

.gitHubTitle {
    font-size: theme.$font-size-smallest;
}
.gitHubStats {
    flex-direction: column;
    align-items: center;
}

.gitHubStat {
    color: theme.$bold-color;
    font-weight: theme.$font-weight-bold;
    margin: auto;
}

.socialContainer {
    color: theme.$body-color;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0em 1.50em;
    width: 11.56rem;
    height: 7.94rem;
}

.social {
    display: flex;
    justify-content: left;
    font-size: theme.$font-size-small;
    align-items: center;
}

.social > p {
    margin: 0rem;
    padding: 0.5em 0em 0.5em 0.5em;
}

@media only screen and (min-width: 768px) {
    .userProfileContainer {
        width: theme.$tablet-width;
    }
    .socialContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        width: 28.61rem;
    }
}

@media only screen and (min-width: 996px) {
    .userProfileContainer {
        width: theme.$browser-width;
    }
}