@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #F6F8FF;
    height: 100vh;
    margin: auto;
}